<ion-content center class="ion-padding bg-image" fullscreen="true">

    <ion-img src="assets/images/logo-dpromocr.png"></ion-img>
    <div class="ion-text-center">
        <h2>Mi Perfil</h2>
    </div>

    <ion-item>

        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="this.authservice.currentUser.name"></ion-input>
    </ion-item>

    <ion-item>

        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="this.authservice.currentUser.lastname"></ion-input>
    </ion-item>

    <ion-item>

        <ion-label>Sexo</ion-label>
        <ion-select [(ngModel)]="this.authservice.currentUser.gender" interface="popover">
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="masculino">Masculino</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>

        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime [(ngModel)]="this.authservice.currentUser.birthdate" displayFormat="DD MMM YY"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Tipo de Identificación</ion-label>
        <ion-select [(ngModel)]="this.authservice.currentUser.idtype" interface="popover">
            <ion-select-option value="cedula">Cédula</ion-select-option>
            <ion-select-option value="pasaporte">Pasaporte</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Número de identificación</ion-label>
        <ion-input type="text" [(ngModel)]="this.authservice.currentUser.idnumber"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Usuario de paypal</ion-label>
        <ion-input type="text" [(ngModel)]="this.authservice.currentUser.paypalid"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-padding ion-margin-top" (click)="updateUser()">Actualizar</ion-button>
    <ion-button expand="block" class="ion-padding ion-margin-top" routerLink="/">Regresar</ion-button>

</ion-content>