<ion-header translucent>
    <ion-toolbar color="dark">
        <ion-title>Noticia</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen color="dark">
    <ion-card mode="ios" color="light">
        <ion-img [src]="this.promoPhotoURL"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{this.promoBusiness}}</ion-card-subtitle>
            <ion-card-title>{{this.promoName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{this.promoDescription}}</ion-card-content>
    </ion-card>
</ion-content>