<ion-header translucent>
    <ion-toolbar color="dark">
        <ion-title>
            Novedades
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="news-feed" color="dark">
    <ion-card (click)="presentModal(noticias[0])" mode="ios" color="light">
        <ion-img [src]="noticias[0].promoPhotoURL"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{noticias[0].promoBusiness}}</ion-card-subtitle>
            <ion-card-title>{{noticias[0].promoName}}</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let noticia of noticias.slice(1)">
                <ion-card (click)="presentModal(noticia)" mode="ios" color="light">
                    <ion-img [src]="noticia.promoPhotoURL"></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>{{noticia.promoBusiness}}</ion-card-subtitle>
                        <ion-card-title>{{noticia.promoName}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>