a {
    text-decoration: none;
}

h1 {
    padding-bottom: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 0;
}

ion-card-header {
    padding: 0
}

ion-card-content {
    padding-top: 10px
}

ion-col ion-card {
    margin: 0;
    padding-top: 20px;
}

ion-icon {
    color: #a51838
}