<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Configuración
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="settings-page" color="dark">

    <ion-list-header>
        <ion-avatar clear block>
            <img src="assets/images/avatar-user.png">
        </ion-avatar>

    </ion-list-header>

    <div text-wrap text-center class="username">{{currentUser.name}} {{currentUser.lastname}}</div>

    <ion-list lines="none">
        <ion-item detail color="dark" routerLink="/perfil">
            <ion-icon slot="start" color="medium" name="person"></ion-icon>
            <ion-label>Mi Perfil</ion-label>
        </ion-item>
        <ion-item href="#" detail color="dark">
            <ion-icon slot="start" color="medium" name="pricetag"></ion-icon>
            <ion-label>Mis Promos</ion-label>
        </ion-item>
        <ion-item href="#" detail color="dark">
            <ion-icon slot="start" color="medium" name="card"></ion-icon>
            <ion-label>Método de pago</ion-label>
        </ion-item>
        <ion-item href="#" detail color="dark">
            <ion-icon slot="start" color="medium" name="options"></ion-icon>
            <ion-label>Configuración App</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer color="dark">
    <ion-grid fixed color="dark">
        <ion-row>
            <ion-col size="10" offset="1">
                <ion-button (click)="logout()" shape="round" mode="md" size="small" expand="full" color="light" class="ion-color ion-color-light ios button button-large button-solid ion-activatable ion-focusable hydrated">Cerrar Sesión</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>