<ion-content center padding class="bg-image" fullscreen="true">

  <ion-img src="assets/images/logo-dpromocr.png"></ion-img>
  <div text-center>
    <h2>Agregar Metodo de Pago</h2>
  </div>

  <ion-item>

    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>

    <ion-label position="floating">Numero de tarjeta</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>

    <ion-label position="floating">Vence</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>

    <ion-label position="floating">CVV</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Guardar Tarjeta</ion-label>
    <ion-checkbox slot="end" checked="true"></ion-checkbox>
  </ion-item>


  <ion-button expand="block" class="ion-margin-top" padding>Pagar</ion-button>

</ion-content>