<ion-header translucent>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Detalle de la Oferta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="" color="dark">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <ion-card color="light">
                <ion-card-header>
                    <ion-img [src]="ofertaDetalle.promoPhotoURL"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <ion-card-header>
                    <ion-img src="https://via.placeholder.com/450x250"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <ion-card-header>
                    <ion-img src="https://via.placeholder.com/450x250"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <ion-card-header>
                    <ion-img src="https://via.placeholder.com/450x250"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <ion-card-header>
                    <ion-img src="https://via.placeholder.com/450x250"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card color="light">
                <ion-card-header>
                    <ion-img src="https://via.placeholder.com/450x250"></ion-img>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-card color="light">
        <h2>Detalle:</h2>
        <p>{{ofertaDetalle.promoDescription}}</p>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <strong>Lugar: {{ofertaDetalle.promoPlace}}</strong> <br>
                    <strong>Vence: {{ofertaDetalle.promoDate}}</strong>
                </ion-col>
                <ion-col>
                    <strong>Tel: {{ofertaDetalle.promoTel}}</strong><br>
                    <strong>Web: {{ofertaDetalle.promoWeb}}</strong>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button [color]="this.authService.currentUser.active? 'primary' : 'medium'" expand="full" (click)='presentAlertConfirm()'>Canjear Cupón</ion-button>
    </ion-card>

    <!-- List of Text Items -->
    <ion-list>
        <ion-item class="item ios in-list ion-focusable item-label hydrated" *ngFor="let oferta of recomendaciones">
            <a (click)="presentOferta(oferta)" routerLink="/oferta-detalle">
                <ion-avatar slot="start" class="ios hydrated">
                    <img [src]="oferta.promoPhotoURL">
                </ion-avatar>
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                    <h2>{{oferta.promoBusiness}}</h2>
                    <h3>{{oferta.promoName}}</h3>
                    <p>{{oferta.promoDescription}}</p>
                </ion-label>
            </a>
        </ion-item>
    </ion-list>
</ion-content>