<ion-content center class="ion-padding bg-image" fullscreen="true">

    <ion-grid>
        <ion-row class="ion-justify-content-center ion-padding-top">

            <ion-img src="assets/images/logo-dpromocr.png"></ion-img>

            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
                <div class="ion-text-center">
                    <h2>Registrarse</h2>
                    <h4>Por favor ingrese los siguientes datos para crear una cuenta</h4>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form action="/signup" method="post" (ngSubmit)="submitRegister()">
        <ion-item>

            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
        </ion-item>

        <ion-item>

            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
        </ion-item>


        <ion-button type="submit" expand="block" class="ion-margin-top ion-padding">Crear Cuenta</ion-button>

    </form>

</ion-content>

<ion-footer class="ion-padding ion-text-center">

    <a class="ion-margin-bottom" routerLink="/ingresar">Si ya tiene cuenta, por favor ingresar.</a>
</ion-footer>